@font-face {
    
    font-family: "Michroma";
    src: url(../fonts/Michroma-Regular.ttf);
}

.navbar{
    display: none;
}

.Logo {

    font-size: xx-large;

}
a{
    font-family: "Michroma";
    color:beige
}
header{
    display: flex;
    flex-direction: row;
    background-color:rgb(24, 22, 22);
    justify-content: space-between;
}




.Header-Index{
    color: rgb(9, 139, 253);
    display: flex;
    width: 23%;
    height: auto;
    font-weight:900;
    text-size-adjust:initial ;
    
}
.inputlogin{
    width: 500px;
}

a{ color: rgb(230, 200, 70);

}
.input-index{
    size: end;
    text-align: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
}

.Header1{
    display: flex;
    background-color:rgb(34, 31, 31);
    flex-direction: row;
    justify-content: space-around;
    size-adjust:end;
}
.IndexSearch{

    display: flex;
    flex-direction:column-reverse;
    width: 500px;
    justify-content: center;
   
}
.contentindex{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    background-color:rgb(87, 82, 82);
    height: 40px;
    align-items: center;
    font-size:x-large;
    font-weight: 800;
     
}


#imagen-index{
    width: 1900px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://cdn.mondraker.com/storage/cache/images/e93/1673873302-2560_63c5479682bba616524856-chrono-dc-mtb-bike-mondraker-14.jpg)

}
.article1{
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.mondraker.com/storage/cache/images/e93/1673873302-2560_63c5479682bba616524856-chrono-dc-mtb-bike-mondraker-14.jpg);
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin-bottom: 15px;
    
    
}

#textodeimagen{
    color: rgb(36, 27, 4);
    font-family: "Michroma";
    src: url(../fonts/Michroma-Regular.ttf);
    text-align: center;
    margin-left: 10px;
    margin-right: 60%;
    font-weight: 1000;
    margin-top: 100px;
    

}

main{
    display: flex;
    flex-direction: column;

}

#article2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;



}
/*.categorias{
    margin: 30px;
}*/

.imagencategoria{
    display: flex;
    width: 600px;
    height: 450px;
}




input{
    margin: 10px;
}

#Registrarse1{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    text-align: center;
    align-content: center;
}

#Bicicletas{
    margin: 1%;
    width: 500px;
    height: 450px;
    padding: 10px;
    border: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    /*background-image: url(https://dcdn.mitiendanube.com/stores/002/183/781/products/marlin-5-gn21-38a84d914214c2f0d516560060430405-640-0.webp);*/

}

#MarcasIndex{
    margin: 1%;  
    width: 500px;
    height: 450px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

 
 #IndumentariaIndex {
    margin: 1%;
    width: 500px;
    height: 450px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-image: url(https://www.broni.com.ar/img/articulos/guantes_ciclismo_giro_bravo_gel_8_thumb3.jpg);*/

}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 82, 82);
    color: rgb(255, 255, 255);
    position: relative;
    padding-bottom: 12%;
    min-height: 100vh;
}
    


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(34, 31, 31);
    position: absolute;
    width: 100%;
    height: 100px;
    align-content: center;
    bottom: 0;

    
}
#facebook{
    background-position: center;
    background-size: cover;
    background-image: url(https://cdn-icons-png.flaticon.com/256/124/124010.png);
    height: 50px;
    width: 50px;
}
#whatsapp{
    background-image: url(https://w7.pngwing.com/pngs/909/209/png-transparent-whatsapp-logo-whatsapp-computer-icons-logo-email-instant-messaging-social-network-trademark-grass-sign-thumbnail.png);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
}
#instagram{
    background-color: rgb(34, 31, 31);
    /*background-image: url(https://c0.klipartz.com/pngpicture/704/270/gratis-png-inicio-de-sesion-en-redes-sociales-instagram-ig-icono-de-instagram.png);*/
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
}
.instagramlogo{
    width: 50px;
    height: 50px;
    background-color: rgb(34, 31, 31);

}
.Marcas-img{
    margin-left:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    height: 500px;
    width: 750px;
    border-style: solid;
    border-color: aliceblue;
    
}

#ProductosBicicletas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;



}

.productbike{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    text-align: center;
    align-items: center;
    width: 600px;
    height: 700px;
    border-width: 5px;
    border-color: rgb(247, 247, 247);
    border-style: double;
    margin: 10px;
    
}
.ImagenProducto{
    width: 600px;
    height: 400px;
}
.ContenidoProducto{
    font-family:'Lucida Sans Regular';
    font-weight:bolder;
    width: 100%;
    height: 50%;
    border-style: double;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;



}
.BotonCompra{

    width: 200px;

}
@media (max-width: 400px) {

    body {
        display: grid;
        grid-template-columns: 10vh 10vh 70vh 10vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        
        "Header Header Header"
        " search search search"
        " main main main"
        "footer footer gooter";

    }

/**HEADER Area**/

.input-index{

    display: none;
}

    Header {
        justify-content: center;

        display: grid;
        grid-template-rows:150 150 auto;
        grid-template-columns: 100px;
        grid-area: Header;
        grid-template-areas:
        "Logo Logo Logo";
        
    }
    .Logo{
        display: grid;
        text-align: center;
        font-size: small;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        grid-area: Logo;
        

    }

    .IndexSearch{
        grid-area: search;
    }

/** NAV AREA**/
.contentindex{
    display: none;
}
.navbar{
    display: grid;
    grid-area: nav;

}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;

}
#textodeimagen{
    display: none;
}
.article1{
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-image:url(https://d2r9epyceweg5n.cloudfront.net/stores/053/255/rte/bicicletas-mtb-mountain-bike.jpg);
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin-bottom: 15px;
    
    
}

#article2{

    display: flex;
    flex-direction: column;
}



 


}